<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="mod_gear">
    <description>Moodle-mod_gear coding standard.</description>

    <!-- Use Moodle coding standard -->
    <rule ref="moodle"/>

    <!-- Ignore vendor directories -->
    <arg name="ignore" value="*/node_modules/*,*/vendor/*"/>
    
    <!-- Exclude third-party vendor directories from all checks -->
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/amd/build/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>flatted.php</exclude-pattern>
</ruleset>
