{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_gear/quiz

    Quiz form for hotspots.

    @copyright  2026 Boban Blagojevic
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="gear-quiz-container">
    <form id="gear-quiz-form-{{id}}">
        {{#options}}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gear-quiz-option" id="q-opt-{{id}}-{{index}}" value="{{index}}">
            <label class="form-check-label" for="q-opt-{{id}}-{{index}}">{{text}}</label>
        </div>
        {{/options}}
        
        <button type="button" class="btn btn-primary btn-sm mt-2 gear-quiz-submit">{{#str}}submit, core{{/str}}</button>
        <div class="gear-quiz-feedback mt-2"></div>
    </form>
</div>
